:root {
    --bs-body-bg: rgba(2, 173, 196, 0);
    --bs-body-color: white;
    --bs-secondary-color:rgba(255, 255, 255, 0.55);
}

body{
    background-image: url(../img/bg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.input-group-text{
    color: rgb(100, 100, 100);
}

.logo{
    height: 6vh;
    width: 6vh;
}
/*Index.php*/



/*ende*/
/*question2.php*/



/*ende*/
/*question3.php*/



/*ende*/
/*question4.php*/
#button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }


/*ende*/
/*question5.php*/



/*ende*/
/*question6.php*/



/*ende*/
/*question7.php*/



/*ende*/
/*question8.php*/



/*ende*/
/*question9.php*/



/*ende*/
/*question10.php*/



/*ende*/
/*summary.php*/